@font-face{
    font-family:'digital-clock-font';
    src: url('./fonts/digital-7-webfont.woff');
}

html {
    background-color: #FAFAFA;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#calculator,
.buttons-container {
    background-color: rgb(51, 51, 51);
}

#calculator {
    width: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    border-radius: 11px;
}   

#calculator .output-screen {
    background-color: rgb(117, 218, 117);   
    padding: 15px 15px;
    text-align: right;
    align-self: stretch;
    word-break: break-all;
    min-height: 43px;   
}   

#calculator .screen-text {
    font-size: xxx-large;
    font-family: 'digital-clock-font';
}

#calculator .buttons-container {
    flex: 1;
    margin-top: 35px;
}

#calculator .buttons {
    display: grid;
    gap: 7px;
    grid-template-columns: repeat(4, 5fr);
    grid-template-rows: repeat(5, 5fr);
    justify-content : stretch;
}

#calculator button {
    font-size: large;
    font-weight: bold;
    min-width: 100px;   
    min-height: 70px;
    border-radius: 13px;
    background-color: rgb(184, 184, 184);
}

#get-result {
    grid-column: 4;
    grid-row: 3 / 6;
}

.first-column {
    grid-column-start: 1;
}

        .second-column {
            grid-column-start: 2;
}

.third-column {
    grid-column-start: 3;
}

.fourth-column {
    grid-column-start: 4;
}
